{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for following in followings %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
          {% if following.following.profile.picture %}
            <img src="{{ following.following.profile.picture.url }}" alt="Placeholder image">
          {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          {% endif %}
      </figure>
    </div>

    <div class="media-content">
      <div class="content">

            <a href="{% url 'authentification:profile' following.following.username %}"><strong>@{{following.following.username}}</strong></a>
          <p><small>{{ following.following.profile.first_name }} {{ following.following.profile.last_name }}</small></p>

        <a href="{% url 'direct:create-direct' following.following.id %}" class="button is-info">Send a message!</a>
      </div>
    </div>

  </article>
</div>
{% endfor %}



{% endblock %}